/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.popover___GTfXt {
  position: relative;
  width: 360px;
}
.noticeButton___tWlMg {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}
.icon___2bt00 {
  padding: 4px;
  vertical-align: middle;
}
.badge___SB6hG {
  font-size: 16px;
}
.tabs___y6uSN .ant-tabs-nav-scroll {
  text-align: center;
}
.tabs___y6uSN .ant-tabs-bar {
  margin-bottom: 0;
}

.divScroll___26IGr {
  max-height: calc(100vh - 150px);
  overflow: auto;
  scrollbar-width: none;
}
.divScroll___26IGr::-webkit-scrollbar {
  display: none;
}
.loadingContainer___3qBP7 {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.list___-jmlP .item___32Ou_ {
  padding-right: 24px;
  padding-left: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}
.list___-jmlP .item___32Ou_ .meta___1p7eB {
  width: 100%;
}
.list___-jmlP .item___32Ou_ .avatar___2aR6k {
  margin-top: 4px;
}
.list___-jmlP .item___32Ou_ .iconElement___2qk8S {
  font-size: 32px;
}
.list___-jmlP .item___32Ou_.read___2LJwo {
  opacity: 0.3;
}
.list___-jmlP .item___32Ou_:last-child {
  border-bottom: 0;
}
.list___-jmlP .item___32Ou_:hover {
  background: #e6f7ff;
}
.list___-jmlP .item___32Ou_ .title___wz6Ir {
  margin-bottom: 8px;
  font-weight: normal;
}
.list___-jmlP .item___32Ou_ .description___3Eegs {
  font-size: 12px;
  line-height: 1.5715;
  color: #858885;
  word-break: break-all;
  word-wrap: break-word;
}
.list___-jmlP .item___32Ou_ .datetime___3t9Re {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.5715;
  color: #858885;
}
.list___-jmlP .item___32Ou_ .extra___3WG-c {
  float: right;
  margin-top: -1.5px;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: normal;
}
.list___-jmlP .item___32Ou_ .more___1fw7g {
  float: right;
  margin-top: -5px;
  margin-right: -15px;
  visibility: hidden;
}
.list___-jmlP .item___32Ou_:hover .more___1fw7g {
  visibility: visible;
}
.list___-jmlP .loadMore___36DaG {
  padding: 8px 0;
  color: #1890ff;
  text-align: center;
  cursor: pointer;
}
.list___-jmlP .loadMore___36DaG.loadedAll___BJ1PY {
  color: rgba(0, 0, 0, 0.25);
  cursor: unset;
}
.notFound___2TCWu {
  padding: 73px 0 88px;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
}
.notFound___2TCWu img {
  display: inline-block;
  height: 76px;
  margin-bottom: 16px;
}
.bottomBar___19Pr7 {
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-radius: 0 0 2px 2px;
  transition: all 0.3s;
}
.bottomBar___19Pr7 div {
  display: inline-block;
  width: 50%;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bottomBar___19Pr7 div:only-child {
  width: 100%;
}

